.custom-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loader {
  border: 4px solid #f3f3f363;
  border-top: 4px solid #466543;
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 14px;
}

.image-loader {
  position: relative;
  animation: image-loader 2s infinite;
}

.bookmarked {
  animation: bookmarked 0.3s;
}

.loadbar {
  width: 0;
  animation: loadbar 3s linear;
  animation-iteration-count: 1;
}

.toaster {
  width: calc(100vw - 30px);
  opacity: 0;
  animation: toast-fade 3100ms linear;
  max-height: 0px;
}

.popup {
  animation: popup 0.3s;
}

@media only screen and (min-width: 720px) {
  .toaster {
    width: 30vw;
  }
}

@keyframes image-loader {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes bookmarked {
  0% {
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
  }
  100% {
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.5);
  }
}

@keyframes loadbar {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes toast-fade {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  5% {
    opacity: 100%;
    transform: translateY(0px);
    max-height: 100px;
  }
  90% {
    max-height: 100px;
    opacity: 100%;
  }
  95% {
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
    max-height: 0px;
  }
}

@keyframes popup {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
