.loader {
  border: 4px solid #f3f3f363;
  border-top: 4px solid #466543;
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 14px;
}

.image-loader {
  position: relative;
  animation: image-loader 2s infinite;
}

.bookmarked {
  animation: bookmarked 0.5s;
}

@keyframes image-loader {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes bookmarked {
  0% {
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.5);
  }
}
